body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

}

#container {
  display: grid;
  background-color: #fff;
  max-width: 1000px;
  width: calc(90vw - 20px);
  padding: 20px;


}




#canvas {
  position: relative;
  width: 100%;
  z-index: 0;
}